.todo {

	&__block {
		margin-top: 70px;
		width: 400px;
		min-height: 500px;
		border: 3px solid chocolate;
		border-radius: 5px;
		padding: 20px;
		box-shadow: 0 2px 15px chocolate;
		background-color: #ffffff;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@media(max-width: 575px) {
			width: 300px;
		}
	}

	&__top {
		display: flex;
		justify-content: space-around;
		padding: 0 20px;
		margin-bottom: 20px;
		font-size: 20px;
		font-weight: 700;
	}

	&__task {
		display: flex;
		justify-content: space-between;
		margin-bottom: 15px;
		padding: 0 15px;

		@media(max-width: 575px) {
			padding: 0;
		}
	}

	&__main {
		flex: 1 0 auto;
		font-size: 16px;
		margin-bottom: 25px;
		min-height: 250px;
	}

	&__btn {
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin-bottom: 10px;

		@media(max-width: 575px) {
			flex-direction: column;
		}

		button {
			display: block;
			height: 50px;
			padding: 0 10px;
			margin: 0 5px;
			color: #000;
			border-radius: 5px;
			transition: all 0.3s ease-in-out;
			outline: none;

			@media(max-width: 575px) {
				margin-top: 10px;
				width: 100%;
			}

			&.todo__save {
				border: 2px solid rgb(72, 143, 72);
				background-color: transparent;

				&:hover {
					background-color: rgb(72, 143, 72);
					border: 2px solid rgb(72, 143, 72);
					color: #fff;
				}
			}

			&.todo__clear {
				border: 2px solid rgb(216, 109, 109);
				background-color: transparent;

				&:hover {
					background-color: rgb(216, 109, 109);
					border: 2px solid rgb(216, 109, 109);
					color: #fff;
				}
			}

			&.todo__info {
				border: 2px solid rgb(118, 95, 160);
				background-color: transparent;

				&:hover {
					background-color: rgb(118, 95, 160);
					border: 2px solid rgb(118, 95, 160);
					color: #fff;
				}
			}
		}
	}
}

li.todo__item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 2px 0;
	width: 100%;
	height: auto;
	padding: 10px 10px;
	background-color: rgb(255, 230, 212);
	cursor: pointer;
	word-wrap: break-word;

	&:nth-child(even) {
		background-color: rgb(253, 245, 239);
	}
}

span.todo__del {
	flex: 0 0 auto;
	width: 20px;
	height: 20px;
	margin-left: 10px;
	cursor: pointer;
}

input.todo__input {
	border: 1px solid #ccc;
	margin-right: 5px;
	padding: 10px;
	border-radius: 5px;
	width: 100%;
}

button.todo__add {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 37px;
	font-size: 35px;
	color: chocolate;
	cursor: pointer;
	background-color: transparent;
	outline: none;
}

.checked {
	text-decoration: line-through;
	color: rgb(163, 163, 163);
	background-color: rgb(236, 236, 236) !important;
}

.status {
	text-align: center;
	height: 15px;
	font-size: 15px;
}

ul.info {
	padding: 20px;
	max-width: 400px;
	margin: 10px auto 0 auto;
	border-radius: 5px;
	text-align: justify;

	@media(max-width: 575px) {
		max-width: 300px;
	}

	li {
		padding: 5px 0;
		list-style: disc;
		margin-left: 15px;
	}
}